//COLORS

$primary-color: rgba(8, 166, 228, 1);
$secondary-color: rgba(255, 255, 255, 1);
$primary-color-dark: rgba(7, 172, 230, 1);
$primary-color-light: rgba(7, 172, 230, 0.16);
$red-color: rgba(251, 59, 100, 1);
$green-color: rgba(85, 223, 180, 1);
$black: rgba(0, 0, 0, 1);
$black-2: rgba(0, 0, 0, 0.16);
$grey-1: rgba(165, 165, 165, 1);
$grey-2: rgba(149, 152, 154, 1);
$grey-3: rgba(112, 112, 112, 1);
$grey-4: rgba(232, 233, 237, 1);
$grey-5: rgba(247, 247, 247, 1);

//FONTS

$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

$base-font-size: 16px;

//BREAKPOINTS

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 900px,
  xl: 1200px,
  xxl: 1290px,
);
