@import "../functions/functions";

#toggle {
  display: none;
}
.menu {
  @media screen and (max-width: px-to-rem(720px)) {
    display: none;
  }
}

.hamburger {
  position: absolute;
  top: px-to-rem(55px);
  right: 5%;
  margin-top: px-to-rem(-45px);
  margin-right: px-to-rem(20px);
  width: 2em;
  height: px-to-rem(45px);
  z-index: 5;
  @media screen and (min-width: px-to-rem(720px)) {
    display: none;
  }
}

.hamburger div {
  position: relative;
  width: px-to-rem(50px);
  height: px-to-rem(7px);
  border-radius: px-to-rem(3px);
  background-color: rgba(7, 172, 230, 1);
  margin-top: px-to-rem(8px);
  transition: all 0.3s ease-in-out;
}

#toggle:checked + .hamburger .top {
  transform: rotate(-45deg);
  margin-top: 25px; /* Adjust this value based on your design */
}

#toggle:checked + .hamburger .bottom {
  opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked + .hamburger .middle {
  transform: rotate(45deg);
  margin-top: -7px; /* Adjust this value based on your design */
}

#toggle:checked + .hamburger + .menu {
  top: 0;
  transform: scale(1); /* Change 100 to 1 for a valid scale value */
}

#toggle:checked + .hamburger + .menu {
  display: block; /* Show the menu when the checkbox is checked */
}
