@import "../functions/functions";
@import "../variables.scss";

.logo {
  display: inline-block;
  text-decoration: none;
  color: $primary-color;
  padding-left: px-to-rem(110px);

  @media screen and (max-width: px-to-rem(860px)) {
    padding-left: 0;
  }
  &__text {
    font-size: px-to-rem(32px);
    font-family: "Raleway", sans-serif;
    font-weight: 300;
  }
}
