@import "../variables";
@import "../functions/mixins.scss";
.pricing {
  margin: px-to-rem(100px) auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__versions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: px-to-rem(50px);

    @include media-q(xl) {
      flex-direction: column;
      gap: px-to-rem(52px);
      margin-top: px-to-rem(71px);
    }
  }

  &__version {
    width: px-to-rem(370px);
    border-radius: px-to-rem(18px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: px-to-rem(1px) solid var(--accent-color);
    @include media-q(md) {
      width: 100%;
      max-width: 370px;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: px-to-rem(50px);
      justify-content: center;
      padding: px-to-rem(25px) px-to-rem(10px) 0 px-to-rem(10px);

      &:last-child {
        margin-bottom: 0;
      }
    }

    .btn {
      position: relative;
      bottom: px-to-rem(-25px);
      font-size: px-to-rem(13px);
      color: white;
      font-weight: 600;
      display: inline-block;
      background-color: var(--accent-color);
      text-decoration: none;
      padding: px-to-rem(16px) px-to-rem(65px);
      border-radius: px-to-rem(35px);
      font-family: $font-open-sans;
    }

    .version__price {
      margin-bottom: px-to-rem(30px);
    }

    .pricing {
      &__hdl {
        font-size: 1.3125rem;
      }

      &__item {
        margin-bottom: px-to-rem(25px);
      }
    }
  }

  &__name {
    margin-top: px-to-rem(34px);
    margin-bottom: px-to-rem(60px);
    text-align: center;

    @include media-q(sm) {
      width: 50%;
      margin: 0;
    }
  }

  .version__hdl {
    font-size: 1.25rem;
    font-family: $font-raleway;
    font-weight: 700;
  }

  .version__price {
    font-size: 2.875rem;
    font-family: $font-open-sans;
    font-weight: 300;
    margin-top: px-to-rem(25px);
    color: var(--accent-color);
  }

  .version__limited {
    text-align: center;
    margin-top: px-to-rem(15px);
    font-size: 0.75rem;
    font-family: $font-raleway;
    font-weight: 700;
  }

  &__features {
    text-align: center;
    padding-left: 0;

    @include media-q(sm) {
      width: 50%;
      text-align: left;
      flex-direction: row;
      justify-content: left;
      align-items: flex-start;
    }
  }

  .pricing__item {
    font-size: px-to-rem(14px);
    margin-bottom: px-to-rem(20px);
    @include media-q(sm) {
      &:last-child {
        margin-bottom: 0;
      }
    }

    &::before {
      content: "";
      width: px-to-rem(11px);
      height: px-to-rem(11px);
      display: inline-block;
      margin-right: px-to-rem(10px);
      background-image: url("../img/Checmark-1.svg");
    }

    &--not_include::before {
      background-image: url("../img/Close.svg");
    }
  }
}

.pricing--premium {
  --accent-color: #{$green-color};
}
.pricing--basic {
  --accent-color: #{$red-color};
}
.pricing--professional {
  --accent-color: #{$primary-color};
  width: px-to-rem(405px);
  margin: 0 px-to-rem(50px);
  box-shadow: px-to-rem(5px) px-to-rem(1px) px-to-rem(27px) $grey-1;
}
