@import "../variables";

.features {
  &__hdl {
    margin-bottom: 6rem;
    padding-inline: px-to-rem(36px);
  }
  &__section {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 13rem;
    margin-bottom: 6.5625rem;
    @media screen and (max-width: px-to-rem(720px)) {
      flex-direction: column;
      gap: 2rem;
    }
  }
  &_number {
    font-size: 1.25rem;
    letter-spacing: 0.3725rem;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }
  &__text {
    font-size: 0.9412rem;
    color: var(--grey-1);
    font-family: "Raleway", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.hdl2 {
  font-size: 2.25rem;
  color: var(--black);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.person__icon {
  background-repeat: no-repeat;
  height: 3.25rem;
  background-image: url(/src/img/Person.svg);
  background-position: center;
}

.eye__icon {
  height: 3.25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/src/img/Eye.svg);
}

.catalog__icon {
  height: 3.25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/src/img/Catalog.svg);
}

.features__circle {
  height: 3.9375rem;
  width: 3.9375rem;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -42;
}

.features__box {
  position: relative;
}
