@import "../functions/functions";
@import "../functions/mixins.scss";

@import "../mixins.scss";

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  background-color: #fff;
  box-shadow: 0 px-to-rem(4px) px-to-rem(10px) px-to-rem(-2px)
    rgba(0, 0, 0, 0.2);
  height: px-to-rem(70px);
  z-index: 42;
  &__inner {
    width: 100%;
    padding-inline: px-to-rem(25px);
    @include flex(space-between, center);
    @media screen and (max-width: px-to-rem(720px)) {
      margin-top: px-to-rem(16px);
      display: block;
    }
  }
}
