@import "../functions/functions";
@import "../mixins";

.header {
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 px-to-rem(4px) px-to-rem(10px) px-to-rem(-2px)
    rgba(0, 0, 0, 0.2);
  height: px-to-rem(70px);
  box-sizing: border-box;
  &__inner {
    max-width: px-to-rem(1627px);
    width: 100%;
    margin-inline: auto;
    padding-inline: px-to-rem(16px);
    @media screen and (max-width: px-to-rem(720px)) {
      margin-top: px-to-rem(16px);
    }
    @include flex(space-between, center);
  }
}
